<!-- Steuerung für boolesche Werte -->
<div class="details-outer">
    <div class="details-image-container" [ngSwitch]="controlUnit?.type">
        <dcdc [data]="ddata" [labels]="labels" *ngSwitchCase="controlType.boolean"></dcdc>
        <polar-area-chart [data]="ddata" [labels]="labels" *ngSwitchCase="controlType.enum"></polar-area-chart>
        <line-diagram [data]="ddata" [labels]="labels" *ngSwitchCase="controlType.continuous"></line-diagram>
    </div>
    <div class="details-data">
        <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
        <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly
                  rows="6">{{data}}</textarea>
        <div [ngSwitch]="controlUnit?.type">
            <div class="details-settings" *ngSwitchCase="controlType.boolean">
                <h3 class="details-headline">Ein-/Ausschalten</h3>

                <form #f="ngForm" class="update-form" (ngSubmit)="booleanSubmit()">
                    <label class="update-form-field" id="current-value">
                        <span class="current-value">derzeit: {{booleanCUString}}</span>
                    </label>

                    <label class="accessibility" for="new-value">Bitte gewünschten Wert auswählen.</label>
                    <input type="checkbox" id="new-value" class="update-checkbox-input form-input" checked
                           name="booleannewval" [(ngModel)]="booleannewval" >
                    <input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                           value="Wert setzen">
                </form>
            </div>
            <div class="details-settings" *ngSwitchCase="controlType.continuous">
                <h3 class="details-headline">Temperatur einstellen</h3>

                <form #f="ngForm" class="update-form" (ngSubmit)="continousSubmit()">
                    <label class="update-form-field" id="current-value">
                        <span class="current-value">derzeit: {{controlUnit?.current}}</span>
                    </label>
                    <label class="accessibility" for="new-value">Bitte gewünschten Wert eingeben.</label>
                    <input type="number" step="0.01" min="{{controlUnit?.min}}" max="{{controlUnit?.max}}" id="new-value" value="1"
                           class="update-form-field form-input" name="contnewval" required [(ngModel)]="contnewval">
                    <input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                           value="Wert setzen">
                </form>
            </div>
            <div class="details-settings" *ngSwitchCase="controlType.enum">
                <h3 class="details-headline">Gerätezustand einstellen</h3>

                <form #f="ngForm" class="update-form" (ngSubmit)="enumSubmit()">
                    <label class="update-form-field" id="current-value">
                        <span class="current-value">derzeit: {{controlUnit?.current}}</span>
                    </label>
                    <label class="accessibility" for="new-value">Bitte gewünschten Wert aus Menü auswählen.</label>
                    <select id="new-value" class="update-form-field form-input" name="enumnewval" required [(ngModel)]="enumnewval">
                        <option *ngFor="let option of controlUnit?.values">{{option}}</option>
                    </select>
                    <input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                           value="Wert setzen">
                </form>
            </div>
        </div>
    </div>
</div>