<div class="main-container">
    <main aria-labelledby="deviceheadline" class="details-container">
        <div attr.data-device-id="19ff7d47-bd80-4a5d-adfb-bc77558facad" class="details-headline">
            <h2 class="main-headline" id="deviceheadline">{{device?.display_name}}</h2>
        </div>
        <div class="details-holder">
            <div *ngFor="let unit of device?.control_units">
                <control [controlUnit]="unit"></control>
            </div>
        </div>
    </main>
</div>