<a class="device" title="{{device.description}}">
    <dl class="device-properties">
        <dt [routerLink]="['/details', device.id]">Anzeigename</dt>
        <div #displayname>
            <dd class="device-displayname" *ngIf="showState">{{device.display_name}}</dd>
            <input id="{{device.id}}" class="form-input" [(ngModel)]="device.display_name" *ngIf="editState" />
        </div>
        <div [routerLink]="['/details', device.id]">
            <dt>Gerätetyp</dt>
            <dd class="device-type">{{device.type}}</dd>
            <dt>Gerätename</dt>
            <dd class="device-name">{{device.name}}</dd>
        </div>
    </dl>
    <div [routerLink]="['/details', device.id]" class="device-image-container">
        <div class="device-image-container">
            <div id="{{device.id}}" class="device-image" width="180" height="180">
                <div class="device-alt">{{device.image_alt}}</div>
            </div>
        </div>
    </div>
</a>
<ul class="device-actions">
    <li><a edit (click)="changeEditMode()"><img class="device-edit" src="../../images/edit.png" alt="edit device"></a></li>
    <li><a><img class="device-remove" src="../../images/remove.png" alt="remove device"></a>
    </li>
</ul>