<div role="navigation" aria-label="jumplinks">
    <a href="#formheadline" class="accessibility">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
    <a routerLink="overview"><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo"></a>

    <h1 class="header-title" id="bannerheadline">
        BIG Smart Home
    </h1>
    <nav aria-labelledby="navigationheadline">
        <h2 class="accessibility" id="navigationheadline">Navigation</h2>
        <ul class="navigation-list">
            <li class="nav-items">
                <ul>
                    <li *ngIf="showOptions">
                        <a routerLink="options" class="button" accesskey="2">Optionen</a>
                    </li>
                    <li *ngIf="showLogout">
                        <a routerLink="login" class="button" accesskey="1">Abmelden</a>
                    </li>
                </ul>
            </li>
            <li class="overflow-icon">
                <a href="#" class="button" accesskey="1">☰</a>
            </li>
        </ul>
    </nav>
</header>