<div class="main-container">
    <main aria-labelledby="formheadline">
        <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit()" >
            <h2 id="formheadline" class="registration-headline">Anmelden</h2>
            <div class="form-row">
                <label class="form-label" for="username-input">
                    Benutzername
                </label>
                <input type="text" [(ngModel)]="user.username" name="username" id="username-input" required class="form-input">
                <span id="username-error" class="error-text"></span>
            </div>
            <div class="form-row">
                <label class="form-label" for="password-input">
                    Passwort
                </label>
                <input type="password" [(ngModel)]="user.password" name="password" id="password-input" required class="form-input" minlength="4"
                       maxlength="12">
                <span id="password-error" class="error-text"></span>
            </div>
            <div class="form-row form-row-center">
                <button class="button button-submit" [disabled]="!loginForm.form.valid">
                    Anmelden
                </button>
            </div>
        </form>
    </main>
</div>