<div class="main-container">
    <main aria-labelledby="formheadline">
        <form class="form" #optionsForm="ngForm" (ngSubmit)="clear()" id="optionsForm">
            <h2 id="formheadline" class="options-headline">Passwort ändern</h2>
            <div class="form-row">
                <label class="form-label" for="old-password-input">
                    Altes Passwort
                </label>
                <input type="password" name="password" id="old-password-input" required class="form-input"
                       placeholder="Altes Passwort"
                       [(ngModel)]="oldPassword"
                       (keyup)="checkPassword()"/>
                <span id="old-password-error" class="error-text"></span>
            </div>
            <div class="form-row">
                <label class="form-label" for="new-password-input">
                    Neues Passwort
                </label>
                <input type="password" name="password" id="new-password-input" placeholder="Neues Passwort" required
                       class="form-input" minlength="8"
                       maxlength="12" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}"
                       [(ngModel)]="newPassword"
                       (keyup)="checkPassword()"/>
            </div>
            <div class="form-row">
                <label class="form-label" for="repeat-password-input">
                    Passwort wiederholen
                </label>
                <input type="password" name="password" id="repeat-password-input" placeholder="Neues Passwort wiederholen"
                       required class="form-input" minlength="8"
                       maxlength="12" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}"
                       [(ngModel)]="newPasswordRetype"
                       (keyup)="checkPassword()"/>
                <span id="new-password-error" class="error-text"></span>
            </div>
            <div class="form-row form-row-center">
                <button id="save-changes-button" class="button button-submit" [disabled]="!optionsForm.form.valid || !isValid">
                    Änderung speichern
                </button>
            </div>
        </form>
    </main>
</div>