<div class="main-container">
    <sidebar></sidebar>

    <main aria-labelledby="devicesheadline">
        <h2 class="formheadline" id="devicesheadline">Geräte</h2>
        <div class="devices">
            <div class="device-outer" *ngFor="let device of devices" [attr.data-device-id]="device.id">
                <device-card [device]="device"></device-card>
            </div>
        </div>
    </main>
</div>