<aside sidebar class="sidebar" aria-labelledby="serverinfoheadline">
    <div class="server-info-container">
        <h2 class="accessibility" id="serverinfoheadline">Serverstatus</h2>
        <dl class="server-data properties">
            <dt class="accessibility">Serverstatus:</dt>
            <dd class="server-status">Serverstatus:</dd>
            <dt>Benutzer</dt>
            <dd>
                <span class="system-start-time">Administrator</span>
            </dd>
            <dt>Systemstartzeit</dt>
            <dd>
                <span class="system-start-time">10:00</span>
            </dd>
            <dt>Systemstartdatum</dt>
            <dd>
                <span class="system-start-datum">06.03.2017</span>
            </dd>
            <dt>Fehlgeschlagene Logins</dt>
            <dd>
                <span class="failed-logins">3</span>
            </dd>
        </dl>
    </div>
</aside>