/*
 * overview cards
 */
.cards { display: flex; flex-wrap: wrap; }
.card {
    position: relative;

    width: 49%; height: 180px;

    margin-top: 20px; margin-left: 2%;
    /*margin-right: 1%;*/

    box-shadow: 0px 0px 8px 1px rgba(150, 150, 150, 0.6);

    border-radius: 6px;

    overflow: hidden;
}
.card:nth-child(2n+1) { margin-left: 0px; }
.card > div { padding: 20px; width: 50%; height: 100%; }
.card > div.left { float: left;}
.card > div.right { float: right; background: #FFF; }
.card img {
    position: absolute;

    width: 25%; height: auto; 

    top: 50%;

    transform: translate(50%, -50%);
}
.card_menu { position: absolute; right: 10px; bottom: 6px; }
.card_menu a {
    display: block;
    float: left;

    width: 30px; height: 30px;

    margin-left: 2px;
}

@media only screen and (max-width: 1200px) {
    .card {
        width: 100%;
        margin-left: 0px;
    }
}

/*
 *
 *
h2 {
    font-size: 26px;
    font-weight: bold;
}