/*
 * fill the whole site
 */
html, body { min-height: 100%; }

body { font-family: 'Arial', 'sans-serif'; background: linear-gradient(#F7F8FB, #D3D8E8); }

/*
 * sticky footer
 */
body { display: flex; flex-direction: column; min-height: 100vh; }
main { flex: 1; }

h1 {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

/*
 * header
 * vertical align with absolute positioning
 * because of screenshot - pixels
 */
body > header {
    padding-left: 13px;
    padding-right: 13px;

    height: 76px; width: 100%;

    background: linear-gradient(#FC7800, #CC4800);
}
body > header > img {
    float: left;

    margin-top: 14px;
}
body > header span {
    float: left;

    margin-top: 25px;
    margin-left: 15px;
    
    color: #333333;
    
    font-size: 30px;
    font-weight: bold;
}
nav {
    float: right;

    margin-top: 16px;
}
nav a {
    text-decoration: none;
    z-index: 1;
    position: relative;
}
button {
    width: 105px; height: 44px;

    color: #FFF;

    font-size: 14px;
    font-weight: lighter;

    border-radius: 5px;
    border: none;

    background: linear-gradient(#006BAC, #003B7C);

    margin: 0 auto;
}

aside{
    margin: 10px;
    float: right;
}

.br_hidden {
    display: none;
}

.label{
    float: left;
    font-weight: bold;
    margin: 20px 50px 0px 0px;
}
.value{
    float: right;
    margin: 20px 0px 0px 0px;
}

.menu_toggle_button {
    display: none;
    margin: 0;
    padding: 0;
    float: right;
}

.menu_toggle_button:hover + #menu_buttons {
    display: block;
}
#menu_buttons:hover {
    display: block;
}

.right > h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.right > h4 {
    font-size: 18px;
    font-weight: normal;
}

.right > p{
    font-size: 14px;
}

/*
 * 
 */
.inside {
    margin: 0 auto;
}
.inside.small {
    max-width: 1000px;
}
.inside.wide {
    max-width: 1200px;
}

.aside_row {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.input_row {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.input_button {
    margin: 0 auto;
    text-align: center;
}

#save_changes {
    width: 160px
}

form {
    width: auto;
    padding-right: 5%;
    padding-left: 5%;
}

input {
    width: 50%;
    display: inline;
    float: right;
}

label {
    width: 50%;
    display: inline;
    margin-bottom: 15px;
}


@media only screen and (max-width: 400px) {
    button {
        width: 100%;
    }
    input {
        width: 100%;
    }
    body > header {
        height: 66px; width: 100%;
    }
    body > header > img {
        margin-top: 10px;
    }
    body > header span {
        margin-top: 20px;
        
        font-size: 24px;
    }
    nav {
        margin-top: 12px;
    }
}
@media only screen and (max-width: 600px) {
    #menu_buttons {
        display: none;
    }

    .menu_toggle_button {
        display: inline;        
        width: 44px;
    }

    .br_hidden {
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    li {
        width: 100%;
    }
    aside{
        float: none;
    }
    #br_ws {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .inside.wide {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*
 * footer
 */
footer {
    padding: 10px;
    text-align: center;
}
